<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartfan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- SubActivity 입력 -->
        <activity android:name=".Settings_Advice"></activity>
        <activity android:name=".Settings_Voice" />
        <activity android:name=".Settings_Temperature" />
        <activity android:name=".Settings_Widget" />
        <activity android:name=".MainActivity" />
        <activity android:name=".IntroActivity">

            <!-- 특정 intent를 받을지 말지 정하도록 intnet-filter를 입력 -->
            <intent-filter>
                <!-- action_main : 시작 액티비티를 지정하는 액션 -->
                <action android:name="android.intent.action.MAIN" />
                <!-- category_LAUNCHER : 애플리 케이션에서 가장 먼저 실행되는 액티비티 -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>